* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: #f4f6f8;
}

.container {
  display: flex;
  height: 100vh;
}

/* LEFT */
.left-panel {
  width: 55%;
  background: #7e35d4;
  color: white;
  padding: 50px;
}

.left-panel h1 {
  margin-bottom: 5px;
}

.version {
  font-size: 12px;
  opacity: 0.8;
}

.section {
  margin-top: 30px;
}

.section h3 {
  letter-spacing: 1px;
}

footer {
  position: absolute;
  bottom: 20px;
  font-size: 12px;
  opacity: 0.8;
}

/* RIGHT */
.right-panel {
  width: 45%;
  background: white;
  padding: 80px 60px;
}

.right-panel h2 {
  margin-bottom: 5px;
}

.right-panel p {
  color: #555;
}

form {
  margin-top: 30px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

#login-btn {
  background: #7e35d4;
  color: white;
  font-weight: bold;
}

.outline-btn {
  background: white;
  border: 1px solid #7e35d4;
  color: #7e35d4;
  margin-top: 10px;
}

.outline-btn:hover {
  background: #7e35d4;
  color: white;
}

.new-text {
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
}

.links {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}
